<div>
	<input type="text" name="username" ng-model="regiest.username"></input> <br />
	<input type="password" name="password" ng-model="regiest.password"></input> <br />
	<select ng-model="regiest.categoryId">
	  <option value="0">普通用户</option>
	  <option value="1">化妆师</option>
	  <option value="1">企业/商户</option>
	</select> <br />
	<input type="captcha" name="captcha" ng-model="regiest.captcha"></input> <br />
    <input type="button" value="注册" ng-click="regiester()" />
</div> <br />

<div>
	<input type="text" name="username" ng-model="login.username"></input> <br />
	<input type="password" name="password" ng-model="login.password"></input> <br />
	<input type="captcha" name="captcha" ng-model="login.captcha"></input> <br />
    <input type="button" value="登陆" ng-click="login()" />
</div> <br />

<div class="container">
    <div class="contr">
        <button onclick="getResults()">Crop</button>
    </div>
    <canvas id="panel" width="779" height="519"></canvas>
    <div id="results">
        <img id="crop_result" />
    </div>
</div> <br />

<form action="localhost:3000/User/uploadAvatar">
	<input id="avatarFile" type="file" name="headImg" multiple ng-disabled="disabled" onchange="angular.element(this).scope().fileChange()">
	<input type="button" value="登陆" ng-click="fileUpload()" />
</form>
